svg.map.usa {
  width: 127%;
  height: 380px;
}

svg.map {
  width: 100%;
  height: 400px;
}

svg.map g {
  scale: 0.5;
}

svg path.land {
  fill: #8eb2ff;
  fill-opacity: 0.7;
  stroke: #fff;
  stroke-opacity: 0.7;
  stroke-width: 2;
}

svg path.land:hover {
  fill-opacity: 0.5;
}

#map-title {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  cursor: pointer;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  transform: rotate(45deg);
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-picker input[type="number"]::-webkit-outer-spin-button,
.time-picker input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.time-picker input[type="number"] {
  -moz-appearance: textfield;
}

.time-picker .hour input,
.time-picker .minute input {
  border: none;
  text-align: center;
  font-size: large;
  font-weight: bold;
  position: relative;
  background-color: #f1f2f7;
}

.time-picker .up,
.time-picker .down {
  position: absolute;
  transform: translateX(-65%);
  border-inline: 10px solid transparent;
  cursor: pointer;
  z-index: 10;
}

.time-picker .down {
  border-top: 10px solid #004deb;
  bottom: -5px;
}

.time-picker .up {
  border-bottom: 10px solid #004deb;
  top: -6px;
}

.time-picker .up:hover {
  border-bottom: 10px solid #008ffb;
}

.time-picker .down:hover {
  border-top: 10px solid #008ffb;
}

@media only screen and (max-width: 992px) {
  svg.map.usa {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  svg.map.usa {
    width: 120%;
  }
}

@media only screen and (max-width: 640px) {
  svg.map.usa g {
    scale: 0.4;
  }
}

@media only screen and (max-width: 480px) {
  svg.map.usa g{
    scale: .3;
  }

  svg.map.usa{
    height: 280px;
  }
}

/* loader */
.lds-facebook {
  display: flex;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 50%;
  width: 16px;
  background: #10B759; 
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

